.filosofia{
	margin-top: -33px;
	background: url(../imgs/filosofia/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    height: 350px;
    color: #fff;
}

.filosofia .titulo-f{
	margin-top: 6%;
	font-size: 2.8em;
}

.conocenos{
	padding: 50px;
}

.conocenos .conocer{
    padding: 50px;
}

.conocenos .texto2 {
    text-align: center;
    color: #1B2B56;
}

.conocenos .parrafo{
	color: #768493;
}

.conocenos .vision {
    margin-top: 50px;
}

.conocenos .vision .mivision {
    color: #727477;
    line-height: 30px;
}

.conocenos .vision .mivision .parrafo {
    text-align: justify;
}

.info{
    background: #EFF1F6;
    padding: 50px;
}

.info .presentacion .titulo{
    color: #1B2B56;
    text-align: center;
    margin-bottom: 20px;
}

.vis{
    color: #1B2B56;
}

.vismis{
    color: #768493;
}

.proyecto{
    margin-top: -33px;
    background: url(../imgs/slide_proy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    height: 350px;
    color: #fff;
}

.proyecto .titulo-p{
    margin-top: 6%;
    font-size: 2.8em;
}

.servicio{
    margin-top: -33px;
    background: url(../imgs/slide_serv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    height: 350px;
    color: #fff;
}

.servicio .titulo-s{
    margin-top: 6%;
    font-size: 2.8em;
}

.servicios{
    background: #EFF1F6;
}

.servicios .service .serviceh2{
    color: #1B2B56;
    margin-bottom: 10px;
}

.servicios .service .servicep{
    color: #86748B;
    line-height: 40px;
}
@media only screen and (max-width: 800px) {
    .filosofia .titulo-f{
		font-size: 2.2em;
	}
}